* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
}


body {
    background-image: url('image/stardew.png');
    background-size: cover; 
    background-position: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #ee115b;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #3d0868;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

.chuva {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.chuva span {
    position: absolute;
    display: block;
    background: rgb(209, 207, 207); /* Cor da partícula branca */
    width: 5px; /* Largura da partícula */
    height: 10px; /* Altura da partícula */
    border-radius: 50%; /* Formato circular */
    animation: rain 1s linear infinite;
    bottom: 100%;
    pointer-events: none;
}

@keyframes rain {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(100%);
    }
}